        body {
           background-color: aqua;
        }
        #h {
           background-color: blue; 
           color: antiquewhite;
        }
        .i {
      color: blueviolet;
        }
        #bos {
         height: 100px;
         width: 50px;
         background-color: chocolate;
        }